html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #AAAAAA;
}

a:hover {
  color: black;
  transition: ease-in-out 0.3s;
}

li {
  list-style: none;
}

.highlight {
  font-weight: lighter;
  text-transform: uppercase;
}
